@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mooli&display=swap');


main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
    margin-top: 200px;
    align-items: center;
    
}

main.games{
    margin-top: 0;
}

.homepic {
    width: 100%;
    display: block;
    grid-column: 1/2;
    margin: auto;
    border: 10px solid #1db0dc;
    border-width: 10px 6px 6px 10px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}


.homepic1 {
    width: 100%;
    display: block;
    grid-column-start: 4;
    grid-column-end: 5;
    border: 10px solid #1db0dc;
    border-width: 10px 6px 6px 10px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;


}

.section-text {
    width: 75%;
    grid-column: 2/4;
    margin: auto;
    text-align: justify;
    grid-row: 1/2;

}

.section-text h2 {
    color: #fbcd57;
    text-align: center;

}

h2 {
    color: #fbcd57;
    text-align: center;

}

.section-text h2:hover {
    background-color: #fbcd57;
    color: #0a0a0a
}

h2:hover {
    background-color: #fbcd57;
    color: #0a0a0a
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}


#background {
    height: 725px;
    grid-column: 1/5;
    grid-row: 4/9;
}



header {
    background-color: #1db0dc;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    color: #0a0000;
    padding: 14px;
    text-decoration: none;
    padding: 35px;
    text-align: center;
}

body {
    display: block;
    background-color: #4e86c1;
    font-family: "Monserrat", "Open Sans";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

nav a:hover {
    background-color: #fbcd57;
    color: #0a0a0a
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 540px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-img {
    width: 100%;
}


#hero-msg h1 {
    text-align: center;
}

#background {
    background-color: #52796f;
}


footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer {
    background-color: #ea6d57;
    color: #0a0a0a;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 80px;
}

.icon {
    padding-top: 10px;
    width: 80px;
}


footer p a:hover {
    text-decoration: underline;
}


#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
    border-radius: 50%;
    vertical-align: middle;
}


/*Games*/


.home-title1 {
    color: #DBE6E3;
    font-family: "Monserrat", "Open Sans";
    font-size: 5em;
    margin-top: 5px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-img {
    width: 100%;
}


#hero-msg h1 {
    text-align: center;
}

.gamespic1 {
    object-fit: contain;
    width: 100%;
    height: 100%;
    grid-column: 3/5;
    margin: 0 auto;
    grid-row: 1/2;
    border: 10px solid #1db0dc;
    border-width: 10px 6px 6px 10px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}

.gamespic2 {
    object-fit: contain;
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
    border: 10px solid #1db0dc;
    border-width: 10px 6px 6px 10px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}

.gamespic3 {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 10px solid #1db0dc;
    border-width: 10px 6px 6px 10px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}

.gamespic4 {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 10px solid #1db0dc;
    border-width: 10px 6px 6px 10px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}


.text1 {
    grid-row: 1/2;
    text-align: center;
    grid-column: 1/4;
    margin: 100px;
}

.text2 {
    grid-row: 2/3;
    text-align: center;
    grid-column: 3/5;
    grid-column: 2/5;
    margin: 100px;
}

.text3 {
    grid-row: 3/4;
    text-align: center;
    grid-column: 1/4;
    margin: 100px;

}

.text4 {
    grid-row: 4/5;
    text-align: center;
    grid-column: 2/5;
    margin: 100px;

}

.main h {
    color: #1db0dc;
}








@media screen and (max-width: 900px) {


    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }


    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

  

    .homepic1,
    .homepic {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }



    footer {
        margin-top: 25px;
    }
}