section {
  width: 50%;
  border: 1px solid;
}

.block1 {
  margin-right: auto;

}

.block2 {
  margin-left: auto;
  margin-right: auto;

}

.block3 {
  margin-left: auto;
}

.block4 {
  margin-left: auto;
  margin-right: auto;
}

.block1 p1 {
  text-align: center;
  font-weight: bold;
}


